.kotak1 {
    padding: 126px;
    padding-left: 130px;
    padding-top: 1px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 10px;
    background: blueviolet; 
    border: 2px solid black;
}
.kotak2 {
    padding: 120px 1px 1px 125px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 10px;
    margin-top: -20px;
    background: pink; 
    border: 2px solid black;
}
.kotak3 {
    padding: 120px 1px 1px 125px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 140px;
    margin-top: -145px;
    background: green; 
    border: 2px solid blue;
}
.kotak4 {
    padding: 126px;
    padding-left: 130px;
    padding-top: 1px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 10px;
    margin-top: -30px;
    background: red; 
    border: 2px solid yellow; 
    border-radius: 20px;
    position: relative;
}
.box1 {
    padding: 120px 150px 150px 120px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 140px;
    margin-top: 80px;
    background: green; 
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
}
.box2 {
    padding: 120px 50px 50px 120px;
    width: 1px;
    color: fff;
    margin: 20px;
    margin-left: 190px;
    margin-top: 147px;
    background: yellow; 
    border: 2px solid black;
    border-radius: 100%;
    position: relative;
}